name: WakaTime Metrics
on:
  schedule: [{cron: "0 0 * * *"}] 
  workflow_dispatch: 
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.wakatime.svg
          token: ${{ secrets.STAT_TOKEN }}  

          base: "" 
          plugin_wakatime: yes
          plugin_wakatime_token: ${{ secrets.WAKATIME_TOKEN }} 
          plugin_wakatime_days: 7                             
          plugin_wakatime_sections: time, projects, languages, editors 
          plugin_wakatime_limit: 5                           
